body{background-color: cornflowerblue;}
h1{color: darkslategray;}

.a1{color: teal;}
.a2{color: darkcyan;}
.a3{color: steelblue;}
.a4{color: lightblue;}

div {text-align: center;}

.a1{border-width: 5px;
border-color: darkslategrey;
border-style: dashed;
margin-left: 10%;
margin-right: 10%;
padding-bottom: 5%;
padding-top: 4%;
background-color:rgb(137, 229, 245) ;
}

.a2{border-width: 5px;
border-color: darkslategray;
border-style: solid;
margin-left: 10%;
margin-right: 10%;
padding-bottom: 5%;
padding-top: 4%;
background-color: cornsilk;
}

.a3{border-width: 5px;
border-color: darkslategray;
border-style: solid;
margin-left: 10%;
margin-right: 10%;
padding-bottom: 5%;
padding-top: 4%;
background-color: lightblue;}